:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: 'inherit';
  text-decoration: none;
}

/* global.css or your main stylesheet */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /*  Optional: if you want to disable scroll */
  font-family: 'Segoe UI', 'SF Pro Display', -apple-system, BlinkMacSystemFont, 
    'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
